<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hapepedia</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <div th:replace="customers/fragments/header::customersHeader"></div>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Women’s </a>
                        <span id="navNameForm">Essential structured blazer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="img/product/details/thumb-1.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="img/product/details/thumb-2.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="img/product/details/thumb-3.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="img/product/details/thumb-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="img/product/details/product-1.jpg" alt="">
                                <img data-hash="product-2" class="product__big__img" src="img/product/details/product-3.jpg" alt="">
                                <img data-hash="product-3" class="product__big__img" src="img/product/details/product-2.jpg" alt="">
                                <img data-hash="product-4" class="product__big__img" src="img/product/details/product-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h5><b id="nameForm">Essential structured blazer</b> <span id="brandForm">Brand: SKMEIMore Men Watches from SKMEI</span></h5>
                        <div id="listDetail" style="padding: 20px;">
                          
                        </div>
                        <div id="deskripsiForm">

                        </div>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input id="quantityForm" type="text" value="1">
                                </div>
                            </div>
                            <div onclick="addCart()" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</div>
                            <ul>
                                <li><a href="./wishlist"><span class="icon_heart_alt"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <div class="col-lg-12" id="listRecom">
                    
                </div>
                
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <div th:replace="customers/fragments/footer::customersFooter"></div>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        var url = window.location.href.split("?");
        var idProduct = url[url.length-1];
        var detailData;
        var choosenData;
        // console.log(idProduct);

        function showData(){
            fetch("http://localhost:8081/api/product/show/"+idProduct,{
                // Adding method type 
                method: "GET", 
                                
                // Adding headers to the request 
                headers: { 
                    "Content-type" : "application/json; charset=UTF-8",
                    // "Authorization" : "Basic "+token
                } 
            })
            .then(response => response.json())
            .then(result => {
                // console.log(result.payload);
                var dataProduct = result.payload;
                document.getElementById("navNameForm").innerHTML=dataProduct.name;
                document.getElementById("nameForm").innerHTML=dataProduct.name;
                document.getElementById("brandForm").innerHTML=", Brand :" +dataProduct.brand.name;
                showRecomendation(dataProduct.category.id);
            }).catch(err => {
                errorStat = err.name === 'AbortError'? 1 : 2;
            });


            fetch("http://localhost:8081/api/product/show/"+idProduct,{
                // Adding method type 
                method: "GET", 
                                
                // Adding headers to the request 
                headers: { 
                    "Content-type" : "application/json; charset=UTF-8",
                    // "Authorization" : "Basic "+token
                } 
            })
            .then(response => response.json())
            .then(result => {
                // console.log(result.payload);
                var dataProduct = result.payload;
                document.getElementById("navNameForm").innerHTML=dataProduct.name;
                document.getElementById("nameForm").innerHTML=dataProduct.name;
                document.getElementById("brandForm").innerHTML="Brand :" +dataProduct.brand.name;
            }).catch(err => {
                errorStat = err.name === 'AbortError'? 1 : 2;
            });

            fetch("http://localhost:8081/api/productDetail/product/"+idProduct,{
                // Adding method type 
                method: "GET", 
                                
                // Adding headers to the request 
                headers: { 
                    "Content-type" : "application/json; charset=UTF-8",
                    // "Authorization" : "Basic "+token
                } 
            })
            .then(response => response.json())
            .then(result => {
                // console.log(result.payload);
                detailData = result.payload;
                var buttonDetail="";
                detailData.forEach((element,i) => {
                    buttonDetail = `<span class="btn btn-primary" onclick="showDetail(`+i+`)">`+element.varian.name+`</span>`;
                });

                document.getElementById("listDetail").innerHTML=buttonDetail;
                showDetail(0);
                
            }).catch(err => {
                errorStat = err.name === 'AbortError'? 1 : 2;
            });

        }

        function showDetail(id){
            choosenData=id;
            var detailText=`
                <ul>
                    <li> color : `+detailData[id].color.name+` </li>
                    <li> category : `+detailData[id].varian.category.name+` </li>
                    <li> specification : `+detailData[id].product.specification+` </li>
                    <li> weight : `+detailData[id].product.weight+` </li>
                    <li> price : `+detailData[id].price+` </li>
                </ul>
            `;

            document.getElementById("deskripsiForm").innerHTML=detailText;
        }

        function addCart(){
            var idDetail = detailData[choosenData].id;
            
            var token = localStorage.getItem('token');
            
            if (token !== null) {
                var iduser = localStorage.getItem('iduser');
                var quantity = document.getElementById("quantityForm").value;
                console.log(iduser+" "+token+" "+quantity);
                // console.log(email+" "+password);
                fetch("http://localhost:8081/api/cart/add", {
                    // Adding method type 
                    method: "POST",
                    headers: { 
                        "Content-type" : "application/json; charset=UTF-8",
                        "Authorization" : "Basic "+token
                    },
                    // Adding body or contents to send 
                    body: JSON.stringify({
                        customerId: iduser,
                        productDetailId: idDetail,
                        quantity: quantity,
                    }),

                    // Adding headers to the request 
                    headers: {
                    "Content-type": "application/json; charset=UTF-8"
                    }
                })
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                if (result.status === true) {
                    window.location.href = "./cart";
                    // console.log(localStorage.getItem('email'));
                }
                else {
                    document.getElementById("wrongAlert").innerHTML = result.messages;
                    document.getElementById("successAlert").style.display = "none";
                    document.getElementById("wrongAlert").style.display = "block";

                    // console.log(localStorage.getItem('email'));
                }

                }).catch(err => {
                    errorStat = err.name === 'AbortError' ? 1 : 2;
                });
            }
            else{
                window.location.href = "./login";
            }


        }

        function showRecomendation(id){
            fetch("http://localhost:8081/api/product/category/"+id,{
                // Adding method type 
                method: "GET", 
                                
                // Adding headers to the request 
                headers: { 
                    "Content-type" : "application/json; charset=UTF-8",
                    // "Authorization" : "Basic "+token
                } 
            })
            .then(response => response.json())
            .then(result => {
                // console.log(result.payload);
                var recomData = result.payload;
                var recomField="";

                for(var i =0; i< recomData.length; i++){
                    recomField = `
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" style="background : url('img/product/related/rp-3.jpg')">
                                    <ul class="product__hover">
                                        <li><a href="img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="./product-details?`+recomData[i].id+`">`+recomData[i].name+`</a></h6>
                                    <div class="product__price">`+recomData[i].brand.name+`</div>
                                </div>
                            </div>
                        </div>
                    `;
                    if(i == 4)
                        break;
                };

                document.getElementById("listRecom").innerHTML=recomField;
            }).catch(err => {
                errorStat = err.name === 'AbortError'? 1 : 2;
            });
        }
        showData();
    </script>
</body>

</html>