<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment - Hapepedia</title>
</head>
<body>
    <script>
        var url = window.location.href.split("?");
        var idOrder = url[url.length-1];
        var dataOrder;

        fetch("http://localhost:8081/api/order/show/"+idOrder,{
            // Adding method type 
            method: "GET", 
                            
            // Adding headers to the request 
            headers: { 
                "Content-type" : "application/json; charset=UTF-8",
                // "Authorization" : "Basic "+token
            } 
        })
        .then(response => response.json())
        .then(result => {
            
            dataRespon = result.payload;
            dataOrder = JSON.stringify({ 
                payment_type: "bank_transfer",
                transaction_details: {
                    order_id: idOrder,
                    gross_amount: dataRespon.totalPayment,
                    date_order : dataRespon.dateOrder,
                    customer : dataRespon.customer.name
                }
            });
            console.log(dataOrder);
            gotoMidtrans();
        }).catch(err => {
            errorStat = err.name === 'AbortError'? 1 : 2;
        });

        function gotoMidtrans(){
            fetch("https://app.sandbox.midtrans.com/snap/v1/transactions",{
                // Adding method type 
                method: "POST", 
                // Adding body or contents to send 
                body: dataOrder,              
                // Adding headers to the request 
                mode: 'no-cors', // 'cors' by default
                headers: { 
                    "Content-Type" : "application/json",
                    "Accept" : "application/json",
                    "Authorization" : "Basic U0ItTWlkLXNlcnZlci1fS2tUa0RZQWVtUU5QMzR5Rk9STkxiblo6"
                } 
            })
            .then(response => response.json())
            .then(result => {
                console.log(result);
            }).catch(err => {
                errorStat = err.name === 'AbortError'? 1 : 2;
            });
        }
    </script>
</body>
</html>