<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment - Hapepedia</title>
</head>
<body>
    <script>
        var url = window.location.href.split("?");
        var responData = url[url.length-1];
        var responCode = responData.split("status_code=")[1].split("&")[0];
        var responIdOrder = responData.split("order_id=O")[1];
        var dataOrder;
        console.log(responCode+" "+responIdOrder);
        
        if(parseInt(responCode) == 200){
            fetch(window.location.origin+"/api/order/paymentSuccess/"+responIdOrder,{
                // Adding method type 
                method: "GET", 
                                
                // Adding headers to the request 
                headers: { 
                    "Content-type" : "application/json; charset=UTF-8",
                    // "Authorization" : "Basic "+token
                } 
            })
            .then(response => response.json())
            .then(result => {
                console.log("finish");
                window.location.href=window.location.origin+"/transaction"
            }).catch(err => {
                errorStat = err.name === 'AbortError'? 1 : 2;
            });

            
        }
    </script>
</body>
</html>